/* common */
@charset "UTF-8";
html {
  font-size: 100%;
}
body {
  color: #474747;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.sec-title {
  margin: 40px 0 20px 0;
  color: #0F66C8;
  text-align: center;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
header ul {
  display: flex;
}
header li {
  margin-left: 30px;
}
header a {
  color: #0D3388;
}
header a:hover {
  color: #6F85BA;
}

/* mainvisual */
#mainvisual img {
  width: 100%;
  max-width: 1920px;
  height: 420px;
  object-fit: cover;
}

/* about */
#about h3 {
  margin-bottom: 8px;
}
#about h4 {
  margin-bottom: 8px;
}
#about div + div{
  margin-top: 24px;
}

/* news */
#news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #CCDFF4;
  margin-bottom: 20px;
}
#news dt {
  width: 20%;
  border-bottom: solid 1px #CCDFF4;
  padding: 15px;
}
#news dd {
  width: 80%;
  border-bottom: solid 1px #CCDFF4;
  padding: 15px;
}

/* photos */
#photos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#photos li {
  width: 30%;
  margin-bottom: 20px;
}


/* inquiry */
#inquiry form{
  margin: 0 auto;
}
#inquiry input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #CCDFF4;
  border-radius: 4px;
}
#inquiry textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #CCDFF4;
  border-radius: 4px;
}
#inquiry button {
  padding: 10px 16px;
  border: 1px solid #0D3388;
  background-color: #0D3388;
  color: white;
  border-radius: 4px;
}

/* footer */
footer {
  text-align: center;
  margin: 20px 0 10px 0;
}